page-home {

}
#iconadd {
    font-size: 3rem;
}
#button_addoggetti {
    display: table-cell;
    background: transparent;
}
.toolbar-content.toolbar-content-md {
    display: table;
}
ion-title.title.title-md {
    display: table-cell;
    width: 90%;
    text-align: center;
}
#h1testohome {
    text-align: center;
}
.bigtext {
    font-size: 2.5rem !important;
}
.smalltext {
    font-size: 1.5rem !important;
}
ion-title div.toolbar-title.toolbar-title-md {
    font-size: 4rem;
}